* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}


body { 
font-family: $font; 
background: $light; 
font-size: 100%;
}

a { 
color: $text-color; 
text-decoration: none;
}

.nav {
	background: $med;
	border-radius: 3px;
	width: 960px;
	margin: 20px auto;
	height: 43px;
}

.nav li { list-style: none;  }
.nav > li { padding: 0; float: left; position: relative; }
.nav > li > a {
	float: left;
	color: $white;
	font-size: 13px;
	text-decoration: none;
	line-height: 43px;
	padding: 0 20px; 
	border-right: 1px solid $white;
	border-left: 1px solid $white;
	height: 43px;
}
.nav > li:hover > a { background: $dark;	border-right: 1px solid $white; }
.nav > li:first-child > a { border-left: 0; }
.nav > li:last-child > a { border-right: 0; }
.nav > li:hover > div { display: block; }

/* MEGA DROP DOWN */

.nav > li > div {
	position: absolute;
	left: 0;
	top: 43px;
	display: none;
	background: $white;
	padding: 10px 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.nav > li > div p { color: $text-color; }
.nav > li > div.right { right: 0; left: auto }
.container-1, .container-2, .container-3, .container-4 { font-size: 80%; }

a{
	@include a-hover($text-color, $med);
}


/* COLUMNS */
.col1,.col2,.col4{ margin: 10px 0; float: left; padding: 0 10px;}

	/* 1 Column */
	.container-1 { width: 170px; }
	.container-1 .col1 { width: 100%; }

	/* 2 Column */
	.container-2 { width: 270px; }
	.container-2 .col1 { width: 50% }
	.container-2 .col2 { width: 100% }

	/* 4 Column */
	.container-4 { width: 500px; }
	.container-4 .col1 { width: 25%; }
	.container-4 .col2 { width: 50% }
	.container-4 .col3 { width: 75% }
	.container-4 .col4 { width: 100% }

/* HIGHLIGHTS */

.container-4 .highlighted { 
	width: 500px;
	margin-left: -10px; 
	padding: 20px; 
	background: $highlight; 
	border-top: 1px solid $text-color; 
	border-bottom: 1px solid $text-color;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}